[*.cs]

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = suggestion

# CS0108: Member hides inherited member; missing new keyword
dotnet_diagnostic.CS0108.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none
